.blogSection{
  
    height: 100%;
}
.blogs{
    margin-bottom: 120px;
}
.blogHead{
    margin-bottom: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #555555;
    text-align: left;
}
/* .blogHead p{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;

    color: #555555;
} */
.blogsInfo{
    display: flex;
    justify-content: space-between;
}
.blogImage img {
    filter: drop-shadow(0px 3px 5px rgba(176, 190, 197, 0.32)) drop-shadow(0px 8px 24px rgba(176, 190, 197, 0.32));
border-radius: 20px;
}
.blogImage{
    width: 48%;
}
.blogParagraphs{
    width: 48%;
}
.blogParagraphs h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #555555;
    margin: 0;
}
.blogParagraphs p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
    margin: 12px 0 15px 0;
}