.table-edit-field {
  width: 20%;
}

.add-new-row {
  float: right;
  margin-bottom: 25px;
}

.table-describe {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.file-lists {
  min-height: 125px !important;
  border: solid 1px #ccc !important;
}

.file-lists h2 {
  width: 98%;
  border: solid 1px #ccc;
  margin-top: 5px;
  margin-left: 1%;
}

.file-lists .list-group li span {
  margin-left: 40px;
  border-left: solid 1px #ccc;
  padding-left: 6px;
}

#add-inheritance {
  position: absolute;
  right: 19px;
  top: 94px;
  padding: 0 6px;
}

.addition-field {
  margin-top: 35px;
}

.addition-field button {
  position: absolute;
  right: 17px;
}

.addition-field input {
  padding-right: 35px;
}

.country-filter {
  float: left;
  width: 70%;
}

.faq-search-area {
  width: 70%;
  float: left;
}

.faq-search-area input, 
.faq-search-area select {
  width: 49%;
  float: left;
  margin-left: 1%;
}

.faq-search-area select {
  margin-left: 1%;
}

.faq-search-area select option {
  width: 150px !important;
}
 
